<h2>doing single record</h2>
<div ng-controller="single_controller">

  <table class="table">
    <thead>
      <tr>
        <th>item</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>name</td>
        <td>
          <input type="text" ng-model="employee.name">
        </td>
      </tr>
      <tr>
        <td>gender</td>
        <td>
          <input type="text" ng-model="employee.gender">
        </td>
      </tr>
      <tr>
        <td>cell</td>
        <td>
          <input type="text" ng-model="employee.contact.cell">
        </td>
      </tr>
      <tr>
        <td>email</td>
        <td>
          <input type="text" ng-model="employee.contact.email">
        </td>

      </tr>
      <tr>
        <td>city</td>
        <td>
          <input type="text" ng-model="employee.contact.city">
        </td>

      </tr>
    </tbody>
  </table>
</div>